<div class="weather">

	<img src="img/geolocation.png">

	<p>{{ msg }}</p>

	<form ng-show="showUserInput">
		<input type="text" placeholder="City name or zip-code" ng-model="userInput" />
		<button type="submit" ng-click="weatherCtrl.weatherFromInput()">Check weather</button>
	</form>

	<div class="weather-details" ng-show="showWeatherDetails">

		<h1>{{ weather.name }}</h1>

		<div ng-repeat="icon in weather.weather">
			<i class="wi" ng-class="icon.icon" title="{{icon.description}}"></i>
			<label> {{ icon.main }}</label>
		</div>

		<p>{{ weather.main.temp }}ºC <span>(min: {{ weather.main.temp_min }} / max: {{ weather.main.temp_max }})</span></p>

	</div>

</div>
